<h4>RESOURCES</h4>
<div id="accordion">    

	<div>
		<a href="{{site.data.config.root}}authentication" class="authentication">Authentication</a>
		<span class="glyphicon glyphicon-collapse-down auth" data-parent="#accordion" data-toggle="collapse" data-target="#authentication"></span>

		<div id="authentication" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}authentication#applicationregistration">Application Registration</a></li>
				<li><a href="{{site.data.config.root}}authentication#webflow">Web Application Flow</a></li>
				<li><a href="{{site.data.config.root}}authentication#requestaccess">Request access</a></li>
				<li><a href="{{site.data.config.root}}authentication#tokenexchange">Token exchange</a></li>
				<li><a href="{{site.data.config.root}}authentication#accesstoken">Access the API using an Access Token</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}user" class="user">User</a>
		<span class="glyphicon glyphicon-collapse-down usr" data-parent="#accordion" data-toggle="collapse" data-target="#user"></span>

		<div id="user" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}user#profile">Profile</a></li>
				<li><a href="{{site.data.config.root}}user#aspiration">Aspiration</a></li>
				<li><a href="{{site.data.config.root}}user#activitysummary">Activity Summary</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}staff" class="staff">User</a>
		<span class="glyphicon glyphicon-collapse-down usr" data-parent="#accordion" data-toggle="collapse" data-target="#staff"></span>

		<div id="user" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}staff#availability">Availability</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}activitystream" class="activitystream">Activity Stream</a>
		<span class="glyphicon glyphicon-collapse-down str" data-parent="#accordion" data-toggle="collapse" data-target="#activitystream"></span>
		<div id="activitystream" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}activitystream#timeseries">Time Series</a></li>
				<li><a href="{{site.data.config.root}}activitystream#dailycounters">Daily Counters</a></li>
				<li><a href="{{site.data.config.root}}activitystream#activitysummary">Activity Logs</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}calendar" class="calendar">Classes Calendar</a>
		<span class="glyphicon glyphicon-collapse-down str" data-parent="#accordion" data-toggle="collapse" data-target="#calendar"></span>
		<div id="calendar" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}calendar#searchevents">Search calendar events</a></li>
				<li><a href="{{site.data.config.root}}calendar#details">Event details</a></li>
			</ul>
		</div>
	</div>
	
	<div>
		<a href="{{site.data.config.root}}activityupload" class="activityupload">Activity Upload</a>
	</div>

	<div>
		<a href="{{site.data.config.root}}webhook" class="webhook">Webhook</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#webhook"></span>
		<div id="webhook" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}webhook#subscribe">Subscribe a webhook</a></li>
				<li><a href="{{site.data.config.root}}webhook#unsubscribe">UnSubscribe a webhook</a></li>
				<li><a href="{{site.data.config.root}}webhook#uservisit">User Visit</a></li>  
				<li><a href="{{site.data.config.root}}webhook#coahmessage">Receive a coach message</a></li>
				<li><a href="{{site.data.config.root}}webhook#startworkoutsession">Start Workout session</a></li>
				<li><a href="{{site.data.config.root}}webhook#closeworkoutsession">Close Workout session</a></li>
				<li><a href="{{site.data.config.root}}webhook#startexeciseonequipment">Start exercise on Unity</a></li>
				<li><a href="{{site.data.config.root}}webhook#endexerciseonequipment">End exercise on Unity</a></li>
				<li><a href="{{site.data.config.root}}webhook#challengesubscription">Subscribe a challenge</a></li>
				<li><a href="{{site.data.config.root}}webhook#challengewinner">Win a challenge</a></li>
				<li><a href="{{site.data.config.root}}webhook#challengecompleted">Complete a challenge</a></li>
			</ul>
		
		</div>
	</div>
</div>