<h4>RESOURCES</h4>
<div id="accordion">    

	<div>
		<a href="{{site.data.config.root}}authentication" class="authentication">Authentication</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#authentication"></span>

		<div id="authentication" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}authentication#applicationregistration">Application Registration</a></li>
				<li><a href="{{site.data.config.root}}authentication#webflow">Web Application Flow</a></li>
				<li><a href="{{site.data.config.root}}authentication#requestaccess">Request access</a></li>
				<li><a href="{{site.data.config.root}}authentication#tokenexchange">Token exchange</a></li>
				<li><a href="{{site.data.config.root}}authentication#accesstoken">Access the API using an Access Token</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}user" class="user">User</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#user"></span>

		<div id="user" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}user#profile">Profile</a></li>
				<li><a href="{{site.data.config.root}}user#aspiration">Aspiration</a></li>
				<li><a href="{{site.data.config.root}}user#activitysummary">Activity Summary</a></li>
				<li><a href="{{site.data.config.root}}user#list-club-activities">List club activities</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}activitystream" class="activitystream">Activity Stream</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#activitystream"></span>
		<div id="activitystream" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}activitystream#timeseries">Time Series</a></li>
				<li><a href="{{site.data.config.root}}activitystream#dailycounters">Daily Counters</a></li>
				<li><a href="{{site.data.config.root}}activitystream#activitysummary">Activity Logs</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}activity" class="activity">Activity </a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#activity"></span>

		<div id="activity" class="collapse in">
			<ul class="list-unstyled">
				<li><a href="{{site.data.config.root}}activity#details">Activity Details</a></li>
			</ul>
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}trainingplan" class="trainingplan">Training Plan</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#trainingplan"></span>

		<div id="trainingprogram" class="collapse in">
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}trainingprogram" class="trainingprogram">Training Program</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#trainingprogram"></span>

		<div id="trainingprogram" class="collapse in">
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}workoutsession" class="workoutsession">Workout Session</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#workoutsession"></span>

		<div id="workoutsession" class="collapse in">
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}challenge" class="challenge">Challenge</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#challenge"></span>

		<div id="challenge" class="collapse in">
		</div>
	</div>

	<div>
		<a href="{{site.data.config.root}}pushnotification" class="pushnotification">Push Notification</a>
		<span class="glyphicon glyphicon-collapse-down" data-parent="#accordion" data-toggle="collapse" data-target="#pushnotification"></span>

		<div id="pushnotification" class="collapse in">
		</div>
	</div>
</div>