<div class="row">
	<div id="title" class="col-md-12">
		<h4>mywellness cloud API</h4>
	</div>
</div>
<div class="row">
	<div id="api" class="col-md-10 col-md-offset-1">
		<h4>API</h4>   
		<ul class="list-unstyled">
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#summary">Summary</a></li>
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#access">Access</a></li>
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#rate-limiting">Rate Limiting</a></li>
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#conventions">Conventions</a></li>
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#support">Support</a></li>
			<li><a href="{{site.data.config.root}}{{site.data.config.mainpage}}.html#toc">Term and Conditions</a></li>
		</ul>
	</div>
</div>