@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html {
  font-size: 90%; }
  html body {
    background: white; }
    html body .wrapper {
      height: 100%;
      padding: 0 15px;
      font-family: 'Open Sans', sans-serif; }
      html body .wrapper .navigation {
        background: #41535d;
        color: white;
        overflow: hidden; }
        @media screen and (max-width: 768px) {
          html body .wrapper .navigation .fix {
            position: relative; } }
        @media screen and (min-width: 992px) {
          html body .wrapper .navigation .fix {
            position: fixed; } }
        html body .wrapper .navigation .fix a {
          color: white; }
        html body .wrapper .navigation .fix h4 {
          text-shadow: 1px 1px 0 #1a1a1a; }
        html body .wrapper .navigation .fix .logo {
          margin-top: 15px;
          width: 150px;
          height: auto; }
        html body .wrapper .navigation .fix #api {
          margin-top: 40px; }
          html body .wrapper .navigation .fix #api a {
            font-weight: 400; }
        html body .wrapper .navigation .fix #resources {
          margin-top: 20px; }
          html body .wrapper .navigation .fix #resources ul {
            margin: 0 0 0 10px; }
      html body .wrapper .content .line .desc-area {
        background: white;
        padding-bottom: 20px; }
        html body .wrapper .content .line .desc-area h4 {
          margin-top: 80px; }
        html body .wrapper .content .line .desc-area small {
          display: block;
          margin-bottom: 20px; }
        html body .wrapper .content .line .desc-area pre, html body .wrapper .content .line .desc-area code {
          background: none;
          border: none;
          color: #1a1a1a;
          margin: 30px 0 30px -190px;
          padding: 0;
          clear: both;
          float: none; }
