@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$white: #FFFFFF;
$yellow: #FFF797;
$logogray: #41535D;

$lite: #D9D9D9;
$base: #687B8A;
$dark: #223241;
$black: #1A1A1A;

html {
	font-size:90%;

	body {
		background: $black;

		.wrapper {
			height:100%;
			padding:0 15px;
			font-family: 'Open Sans', sans-serif;

			.navigation {
				background: $lite;
				color: $black;
				overflow: hidden;

				.fix {
					position: fixed;

					a {
						color: $black;
					}

					.logo {
						margin-top:15px;
						width:150px;
						height:auto;
					}

					#api {
						margin-top:60px;

						a {
							font-weight: 400;
						}
					}

					#resources {
						margin-top:20px;
					}
				}
			}

			.content {

				.line {
					
					.desc-area {
						background: $white;
						padding-bottom: 20px;
					
						h4 {
							margin-top: 80px;
						}
					}

					.code-area {
						margin-top: 80px;
						color: $lite;

						pre {
							background: none;
							border: none;
							color: $white;
							margin: 30px 0 30px -190px;
							padding: 0;
							clear: both;
							float: none;
						}
					}
				}

				
			}
		}
	}
}