@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$white: #FFFFFF;
$yellow: #FFF797;
$logogray: #41535D;

$lite: #D9D9D9;
$base: #687B8A;
$dark: #223241;
$black: #1A1A1A;

$break-small: 768px;
$break-large: 992px;

html {
	font-size:90%;
	height: 100%;

	body {
		background: $white;
		height: 100%;

		.wrapper, .row {
		   height: 100%;
		   margin-left:0;
		   margin-right:0;
		}

		.wrapper:before, .wrapper:after,
		.column:before, .column:after {
		    content: "";
		    display: table;
		}

		.wrapper:after,
		.column:after {
		    clear: both;
		}

		.column {
		    height: 100%;
		    overflow: auto;
		    *zoom:1;
		}

		.column .padding {
		    padding: 20px;
		}

		.box {
		  	bottom: 0; /* increase for footer use */
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		    background-image:url('/assets/example/bg_suburb.jpg');
		    background-size:cover;
		    background-attachment:fixed;
		}


		&.homepage {
			background: $logogray !important;

			h2, h4 {
				color: $white;
				text-shadow:1px 1px 0 $black;
			}

			.cloud_wrapper {
				position: relative;
				width:465px;
				height:264px;
				margin:86px auto 20px auto;
				
				.cloud_top {
					position: absolute;
					top:0px;
					right:0px;
					width:465px;
					height:264px;
					background: url('./../images/cloud.png') 0 0 no-repeat;
					z-index: 99;
				}

				.cloud_middle {
					position: absolute;
					top:0px;
					right:0px;
					width:465px;
					height:264px;
					z-index: 2;
					overflow: hidden;

					#gear_1 {
						position: absolute;
						top:50px;
						left:-40px;
						width:255px;
						height:255px;
						background: url('http://cdn.mywellness.com/xchange/app_offline/img/gear_1.png') 0 0 no-repeat;
						z-index: 3;
					}

					#gear_2 {
						position: absolute;
						top:180px;
						left:170px;
						width:121px;
						height:121px;
						background: url('http://cdn.mywellness.com/xchange/app_offline/img/gear_2.png') 0 0 no-repeat;
						z-index: 4;
					}

					#gear_3 {
						position: absolute;
						top:90px;
						left:230px;
						width:232px;
						height:232px;
						background: url('http://cdn.mywellness.com/xchange/app_offline/img/gear_3.png') 0 0 no-repeat;
						z-index: 3;
					}

					#gear_4 {
						position: absolute;
						top:-96px;
						left:160px;
						width:257px;
						height:257px;
						background: url('http://cdn.mywellness.com/xchange/app_offline/img/gear_4.png') 0 0 no-repeat;
						z-index: 2;
					}
				}

				.cloud_under {
					position: absolute;
					top:0px;
					right:0px;
					width:465px;
					height:264px;
					background: url('http://cdn.mywellness.com/xchange/app_offline/img/cloud_bg.png') 0 0 no-repeat;
					z-index: 1;
				}

			}
		}

		.wrapper {
			height:100%;
			padding:0 15px;
			font-family: 'Open Sans', sans-serif;

			#sidebar {
				background: $logogray;
				color: $white;

				a {
					color: $white;
				}

				h4 {
					text-shadow:1px 1px 0 $black;
				}

				.logo {
					margin-top:15px;
					width:150px;
					height:auto;
				}

				#api {
					margin-top:40px;

					a {
						font-weight: 400;
					}
				}

				#resources {
					margin-top:20px;

					ul {
						margin: 0 0 0 10px;
					}
				}
				

				#accordion {

					div {
						padding:5px 0;

						span {
							float:right;
						}

						div {

							ul {

								li {
									padding:5px;
								}
							}
						}
					}
				}
			}

			#main {

				.line {
					
					.desc-area {
						background: $white;
						padding-bottom: 20px;

						h4 {
							margin-top: 80px;
						}

						small {
							display: block;
							margin-bottom: 20px;
						}

						pre, code {
							background: none;
							border: none;
							color: $black;
							margin: 30px 0 30px -190px;
							padding: 0;
							clear: both;
							float: none;
						}
					}
				}				
			}
		}
	}
}