{% include header.html %}
		<body>
			<div class="wrapper">
				<div class="row">
					<div class="navigation col-md-2 column">
						<div class="fix">
							<div class="row">
								<div class="col-md-12">
									<img class="logo" src="./images/api_logo.png" />
								</div>
							</div>
							
							{% include summary.html %}

							{% include dynamicmenu.html %}
					</div>

					<div class="content col-md-10 column">
						{{ content }}
					</div>

				</div>
</div>
{% include footer.html %}