<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>mywellness cloud API</title>

	<!-- Bootstrap core CSS -->
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../stylesheets/main.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			<![endif]-->
		</head>

		<body>
			<div class="wrapper">
				<div class="row">
					<div class="navigation col-md-2">
						<div class="fix">
							<div class="row">
								<div class="col-md-12">
									<img class="logo" src="../images/api_logo.png" />
								</div>
							</div>

							<div class="row">
								<div id="api" class="col-md-10 col-md-offset-1">
									<h4>API</h4>
									<ul class="list-unstyled">
										<li><a href="#summary">Summary</a></li>
										<li><a href="#access">Access</a></li>
										<li><a href="#rate-limiting">Rate Limiting</a></li>
										<li><a href="#conventions">Conventions</a></li>
										<li><a href="#support">Support</a></li>
									</ul>
								</div>
							</div>

							<div class="row">
								<div id="resources" class="col-md-10 col-md-offset-1">
									<h4>RESOURCES</h4>

									<div id="accordion">
										<div>
											<a data-toggle="collapse" data-parent="#accordion" href="#authentication">
												Authentication
											</a>
											<div id="authentication" class="collapse in">
												<ul class="list-unstyled">
													<li><a href="#request-list">Request access</a></li>
													<li><a href="#token-exchange">Token exchange</a></li>
													<li><a href="#deauthorization">Deauthorization</a></li>
												</ul>
											</div>
										</div>
										<div>
											<a data-toggle="collapse" data-parent="#accordion" href="#clubs">
												Clubs
											</a>
											<div id="clubs" class="collapse in">
												<ul class="list-unstyled">
													<li><a href="#retrieve-a-club">Retrieve a club</a></li>
													<li><a href="#list-athlete-clubs">List athlete clubs</a></li>
													<li><a href="#list-club-members">List club members</a></li>
													<li><a href="#list-club-activities">List club activities</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{{ content }}

				</div>
			</div>
			<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../javascripts/main.js"></script>
		</body>
		</html>
